In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("C:\\Users\\SHAIKH MD KASHIF\\Documents\\SMSSpamCollection",sep="\t",names=["label","message"])
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
import nltk 
import re                                    ##  REMOVING OF PUNCTUATIONS
from nltk.corpus import stopwords            ## Removing of Stopwords 
from nltk.stem import PorterStemmer                ## Stemming
ps=PorterStemmer()

# Text Cleaning -

In [4]:
corpus=[]
for i in range(len(df)):
    rp=re.sub('[^a-zA-Z]'," ",df["message"][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word)for word in rp if not word in stopwords.words("english")]
    rp=" ".join(rp)
    corpus.append(rp)

# Vectorization

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()

In [7]:
y=pd.get_dummies(df["label"],drop_first=True)
y.head()

   spam
0     0
1     0
2     1
3     0
4     0

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Model Initializing

In [9]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [10]:
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train)

In [11]:
from sklearn.metrics import accuracy_score
print("test accuracy:",accuracy_score(y_test,y_pred_test))
print("train accuracy:",accuracy_score(y_train,y_pred_train))

test accuracy: 0.979372197309417
train accuracy: 0.9921471842046219

In [12]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(model,x,y,cv=5)
print(score)
score.mean()

[0.97578475 0.97847534 0.97486535 0.97935368 0.97576302]

0.9768484272729469

Model Prediction " by giving different data as input-

In [13]:
input_data="Lottery ,you have won a lottery of 1cr"

In [14]:
df_test=pd.DataFrame({"message":input_data},index=[0])

In [15]:
df_test

                                  message
0  Lottery ,you have won a lottery of 1cr

In [16]:
corpus=[]
for i in range(len(df_test)):
    rp=re.sub('[^a-zA-Z]'," ",df_test["message"][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word)for word in rp if not word in stopwords.words("english")]
    rp=" ".join(rp)
    corpus.append(rp)

In [17]:
x=cv.transform(corpus).toarray()

In [18]:
x.shape

(1, 6296)

In [19]:
pred=model.predict(x)

In [20]:
if pred==0:
    print("Ham")
else:
    print("Spam")

Spam

  --------  **** ---------